header {
    position: relative;
    width: 680px;
    text-align: center;
    margin: 5rem auto;
    height: 700px;
background: #c4c4c4;

}

.photos-conteiner img {
    width: 200px;
    height: 200px;
    margin: 17px 9px 9px;
    background: url(image.png);
    }